Gizlilik Politikası

Bu gizlilik politikası, "Remember Medicine" uygulamasının kullanıcı verilerini nasıl topladığını, kullandığını, sakladığını ve koruduğunu açıklar.

Toplanan Bilgiler

Remember Medicine, kullanıcıların ilaç alımını yönetmelerine yardımcı olmak için bazı kişisel bilgileri toplayabilir. Bu bilgiler arasında şunlar yer alabilir:

Kullanıcı adı ve e-posta adresi
Kullanıcı tarafından belirlenen ilaç takvimleri ve hatırlatıcılar
Veri Kullanımı

Toplanan bilgiler, kullanıcılara hizmet sunmak, kullanıcı deneyimini iyileştirmek, teknik sorunları teşhis etmek ve çözmek için kullanılabilir.

Veri Paylaşımı

Remember Medicine, kullanıcı bilgilerini üçüncü taraflarla paylaşmaz veya satmaz. Ancak, kullanıcı izni olmadan kanuni talepler doğrultusunda veya yasal yükümlülükler çerçevesinde bilgi paylaşımı yapılabilir.

Güvenlik

Kullanıcı bilgileri, makul güvenlik önlemleri alınarak korunmaktadır. Ancak, internet üzerinden iletilen bilgilerin tam güvenliği garantisi verilemez.

Değişiklikler

Bu gizlilik politikası, uygulamamızda yapılan değişikliklere bağlı olarak güncellenebilir. Güncellemeler hakkında bilgi almak için bu sayfayı düzenli olarak ziyaret etmenizi öneririz.

İletişim

Gizlilik politikamızla ilgili herhangi bir sorunuz varsa, lütfen bizimle iletişime geçmekten çekinmeyin: [email protected]